<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://krynx.dev">
      <img src="assets/logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="krynx-navbar-menu"
        [class.is-active]="showMenu" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="krynx-navbar-menu"
      [class.is-active]="showMenu" (click)="toggleMenu()">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark is-family-secondary" href="https://github.com/Krynx/home" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>github</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>

<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-family-secondary">
        welcome to Krynx.dev
      </h1>
      <h2 class="subtitle is-family-secondary">
        maybe someday i'll actually have time to work on this project
      </h2>
    </div>
  </div>
</section>
